.repoItem {
  display: flex;
}

.repoLink {
  color: #000;
}

.tdStyle {
  text-align: center;
  height: 42px;
}

.starContainer {
  display: flex;
  align-items: center;
}

.starIcon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.nameStyle {
  cursor: pointer;
  transition: 0.25s;
}

.nameStyle:hover {
  color: red;
}